@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
/* font-family: 'Playfair Display', serif; */

@font-face {
    font-family: 'gilroy-ultralightuploadedfile';
    src: url('/fonts/gilroy-ultralight-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-blackuploaded_file';
    src: url('/fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gilroy-bolduploaded_file';
    src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-extrabolduploaded_file';
    src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-heavyuploaded_file';
    src: url('/fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-lightuploaded_file';
    src: url('/fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-mediumuploaded_file';
    src: url('/fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-regularuploaded_file';
    src: url('/fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-semibolduploaded_file';
    src: url('/fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroy-thinuploaded_file';
    src: url('/fonts/gilroy-thin-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}